#{extends 'main.html' /} #{set title:'tcommerce signup' /}
<div class="offset4 span4 form" style="background-color: white;">
	<form action="@{Auth.register}" method="POST"
		accept-charset="${_response_encoding}" class="form-horizontal">
		<h3 style="text-align: center">Create account</h3>
		<div class="control-group">
			<label class="control-label" for="email">Email</label>
			<div class="controls">
				<input type="text" id="email" name="user.email" placeholder="Email">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="email">Password</label>
			<div class="controls">
				<input type="password" id="password" name="user.password" placeholder="Password">
			</div>
		</div>
		<div class="control-group pull-right">
			<div class="controls">
				 <button type="submit" class="btn btn-primary" style="margin-right: 15px;">Create Account</button>
			</div>
		</div>
	</form>
</div>
