
.tsg-nc{
  fill: black;
/*   //stroke: #666; */
  stroke: rgba(255,50,50,0.4);
/*   stroke-dasharray: 0,2 1; */
}
.tsg-root-nc{
  fill: black;
  stroke: rgba(255, 255, 255, 0.3);
/*   stroke-dasharray: 0,2 1; */
}
.tsg-root-friend-nc{
  fill: black;
  stroke: rgba(92, 166, 170, 0.3);
/*   stroke-dasharray: 0,2 1; */
}
.tsg-selected-nc{
  stroke: rgba(255, 255, 140, 0.8);
/*   stroke-dasharray: 0,2 1; */
}
text {
	fill:#fff;
/* 	font-size: 10px; */
/* 	font-size: 20px; */
/*   stroke:#EEE; */
/*   font: 16px sans-serif bold; */
  pointer-events: none;
}

text.shadow {
  stroke:rgba(42, 120, 120, 0.6);
  stroke-width: 4px;
/*   stroke-opacity: .6; */
}
rect {
  fill: none;
  pointer-events: all;
 stroke-width:0;
}

path.link {
  fill: none;
/*   //stroke: #666; */
  stroke: rgba(92, 166, 170, 0.2);
  stroke-width: 1.5px;
/*   stroke-dasharray: 0,2 1; */
}
path.dlink {
  fill: none;
/*   //stroke: #666; */
  stroke: yellow;
  stroke-width: 1px;
}

/* path.dlink { */
/*   fill: none; */
/* /*   //stroke: #666; */ */
/*   stroke: yellow; */
/*   stroke-width: 1px; */
/* } */

marker#licensing {
  fill: #9AE4E8;
}

path.link.licensing {
  stroke: #9AE4E8;
}

.directed{
  stroke-dasharray: 0,2 1;
}

circle {
   cursor: pointer;
  stroke: #333;
  stroke-width: 1.5px;
}



body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em auto 4em auto;
  position: relative;
  height:100%;
}
html{
  height:87%;
}
h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
  margin: .3em 0 .1em 0;
}

h2 {
  margin-top: 2em;
}

h1, h2 {
  text-rendering: optimizeLegibility;
}

h2 a {
  color: #ccc;
  left: -20px;
  position: absolute;
  width: 740px;
}

footer {
  font-size: small;
  margin-top: 8em;
}
image {
	
    border-radius: 32px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
}
aside {
  font-size: small;
  left: 780px;
  position: absolute;
  text-align: right;
  width: 180px;
}

p {
  line-height: 1.5em;
  width: 720px;
}

blockquote {
  width: 640px;
}

li {
  width: 680px;
}

a {
  color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

pre, code, textarea {
  font-family: "Menlo", monospace;
  line-height: normal;
}

textarea {
  font-size: 100%;
}

pre {
  border-left: solid 2px #ccc;
  padding-left: 18px;
  margin: 2em 0 2em -20px;
  width: 960px;
  overflow-x: auto;
}

.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

aside,
.comment {
  color: #636363;
}

.html .doctype,
.javascript .number {
  color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}

#progressbar-message {
text-align: center;
}