body {
	font-family: 'Open Sans', sans-serif;
}

#header {
	height: 50px;
	text-align: center;
}

.navbar a {
	font-weight: bold;
}

.bio {
	color: #534F4F;
	word-wrap: break-word;
	margin: 0;
}

.userBanner {
	margin: 0px auto;
	background-color: #FFF;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.userBanner h1 {
	color: #534F4F;
	margin: 15px 0 10px 0;
	font-size: 30px;
	white-space: nowrap;
	overflow: hidden;
}

.productWindow {
	float: left;
	width: 240px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 5px;
	background-color: #FFF;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	font-size: 11px;
	background-color: #FFF;
	position: relative;
}

.productCard {
	margin: 20px;
}

.aloneProductCard {
	margin: 20px;
}

.aloneProductWindow {
	width: 600px;
	margin-bottom: 20px;
	background-color: #FFF;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	font-size: 11px;
	margin: 0px auto;
	padding-bottom: 5px;
}

.productImg {
	text-align: center;
}

.productDetail {
	text-align: left;
}

.cardUser {
	padding: 5px 20px;
	background-color: #F2F0F0;
}

.cardUser img {
	height: 48px;
	width: 48px;
}

span.name {
	color: #8C7E7E;
	font-weight: bold;
}

span.comment {
	color: #8C7E7E;
	font-size: x-small;
}

.clear:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.navbar .nav>li>a.noPad {
	padding: 5px 15px;
}

.navbar-search .search-query {
	border-radius: 15px 0 0 15px;
	padding: 4px 14px;
	border-right-style: none;
}

.input-append .add-on:last-child {
	border-radius: 0 15px 15px 0;
	-moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	background-color: #323232;
	border: 1px solid #888888;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	border-left-style: none;
}

.video-extras-sparkbar-likes {
	float: left;
	height: 4px;
	border-right: 1px solid white;
	background: #060
}

.video-extras-sparkbar-dislikes {
	float: right;
	height: 4px;
	margin-right: -1px;
	background: #C00;
}

.video-extras-sparkbars {
	margin-top: 3px;
}

.profile-user {
	position: relative;
	max-width: 960px;
	min-height: 75px;
	margin: 0 auto;
	padding: 10px 30px 15px;
	border-bottom: 1px solid #D9D9D9;
	background: #EEE url(../../images/bg/white-gradient-200px.png) repeat-x
		50% 50%;
	-webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, .05), -1px 0 0
		rgba(0, 0, 0, .05), 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 1px 0 0 rgba(0, 0, 0, .05), -1px 0 0 rgba(0, 0, 0, .05),
		0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 1px 0 0 rgba(0, 0, 0, .05), -1px 0 0 rgba(0, 0, 0, .05), 0
		1px 2px rgba(0, 0, 0, .05);
	background-color: white;
}

.profile-section {
	position: relative;
	max-width: 960px;
	height: auto;
	overflow: auto;
	margin: 0 auto;
	padding: 10px 30px 15px;
	background-color: white;
	-webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, .05), -1px 0 0
		rgba(0, 0, 0, .05), 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 1px 0 0 rgba(0, 0, 0, .05), -1px 0 0 rgba(0, 0, 0, .05),
		0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 1px 0 0 rgba(0, 0, 0, .05), -1px 0 0 rgba(0, 0, 0, .05), 0
		1px 2px rgba(0, 0, 0, .05);
}

.avatar-container {
	position: absolute;
	left: 25px;
	bottom: 11px;
	margin: 0;
	padding: 5px 5px 3px;
	background: white;
	z-index: 2;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 5px
		rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 5px
		rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.15);
}

.rounded {
	-webkit-border-radius: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #E8E8E8;
}

.module{
	margin-top: 10px;
}


.rounded-title {
	border-radius: 5px;
	-webkit-border-radius: 5px;
    background-color: #E8E8E8;
    line-height: 42px;
    padding-left: 10px;
}

.username {
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	color: #777;
}

.fullname {
	font-weight: bold;
	color: #333;
	font-size: 30px;
	line-height: 1;
	margin-bottom: 2px;
}

.username s {
	color: #BBB;
}

s {
	text-decoration: none;
}

.profileCard {
	margin-left: 120px;
}

.profileCard>h1 {
	font-size: 18px;
}

.profileCard>h2 {
	font-size: 14px;
}

.profileCard>p {
	margin: 0px;
}

.profileCard  a {
	color: #4183C4;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
}

.profileCard>h1,h2 {
	margin-top: 2px;
	margin-bottom: 2px;
}

.form {
	background-color: white;
}

.bio {
	font: italic 13px/18px Georgia, "Times New Roman", serif;
	color: #777;
	word-wrap: break-word;
}

.actions {
	position: absolute;
	z-index: 3;
	width: 100%;
	text-align: center;
	margin-top: 5px;
	display: none;
}

.customerSideBar {
	margin-left: 5px;
	background-color: white;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .095);
	-moz-box-shadow: 0 2px 8px rgba(0, 0, 0, .095);
	box-shadow: 0 2px 8px rgba(0, 0, 0, .095);
}

#tweetList ul {
	list-style: none;
	
}

.replyList div:nth-of-type(odd) {
  background-color:#F9F9F9;
}

.commentElement .deleteComment{
	visibility: hidden;
}

.commentElement:hover .deleteComment{
	visibility: visible;
}