<script type="text/javascript">

var recPerPage = 50;
var currPage = 1;

$(function() {
	
    $("#slider").slider({ min:recPerPage, value:recPerPage, step: 1, stop: function(event, ui) {
    	
    	var page = ui.value / 50;
    	
    	
    	if(page>currPage){
    		currPage++;
    		getUserGraph();
    	}else{
        	graph.update(); 
    	}  	
    }});
    
	$("#slider").hide();
	
    graph = new Graph("#screen");
    tw = new TwitterClient();
    util = new Util(); 
    var slider;
  });

$(function() {
	$(function() {
	    $("#progressbar").progressbar({ value: 0 });
	    $("#progressbar").hide();
	});
})

var lastUserId = '';

function getUserGraph(){
	
	var listAction = #{jsAction @get(':query', ':page') /}
// 	   $('#result').load(
// 	       listAction({search: 'x', size: '10', page: '1'}), 
// 	       function() {
// 	           $('#content').css('visibility', 'visible')
// 	       }
// 	   )
	   
	   
	var userName = $('#graphSearchId').val();
 	
		
	$("#slider").slider({ disabled: true });
	currPage = Math.max(currPage,1);
// 	}
// 	setProgressBarMessage('Loading the graph of '+userName+'...');
	$.ajax({

		url : listAction({query: userName, page: currPage}),
		dataType : "json",
		success :  function(data)
		{
			if(data.needsReload){
				window.setTimeout(getUserGraph,5 * 1000 + Math.sqrt(data.total));
			}
			if(data.ownerId!=lastUserId){
				graph.clear();
			}

			lastUserId = data.ownerId;
			currPage = data.page;
			
			if(data.completed<data.total){
				window.setTimeout(getUserGraph,5 * 1000 + Math.sqrt(data.total));
				$("#progressbar").progressbar({ value: (data.completed/data.total) * 100 });	
				$("#progressbar").show();	
				$("#slider").hide();
			}else{	
				$("#progressbar").hide();
				if(data.total>recPerPage){
					var currValue = $('#slider').slider("value");
					$("#slider").slider({max: data.total, value:Math.min(currValue, (recPerPage*currPage)+1)});
					$("#slider").slider({ disabled: false });
					$("#slider").show();
				}
			}
			
			
			graph.centerNodeId = data.ownerId;
			
			for ( var i = 0; i < data.users.length; i++) {
				
				var newNode = data.users[i];
				
					newNode.id = parseInt(newNode.twitterId);
					if(newNode.id == data.ownerId){

						$('#graphSearchId').val(newNode.screenName);
					}
				graph.addNode(newNode);

			}

			graph.addLinks(data.links);
			graph.cliques = data.cliques;
			var val = parseInt((data.completed/data.total)*100);
			var msg = val + '% of '+userName+'\'s friends are revealed. The graph will be completed soon. Please wait...';
			if(val==100){
				msg = 'Completed';
			}else if(data.protectedGraph){
				val = 0;
				msg = userName+'\'s account is protected...';
			}
// 			setProgressBarMessage(msg);
// 			setProgressBarValue(val);
			graph.update();
// 			if(data.total<=recPerPage){
// // 				 $("#slider").slider({ min:recPerPage, max: 500, value:50,step:50});
// 				$("#slider").hide();
// 			}else{
				
// 				$("#slider").hide();
				
// 			}
			  
		},
		error : function(er)
		{
			expanding = false;

// 			setProgressBarMessage('The account of '+userName+' is protected. ');
		},

	});
}
</script>