						
					<script type="text/javascript">
					function getAutocompleteUrlForQuery(queryp){
						var actionUrl = #{jsAction @autocomplete(':query') /};
						return actionUrl({query: queryp});
					}
					function getGraphUrlForUser(queryp,pagep){
						
						var actionUrl = #{jsAction @get(':query', ':page') /};
						return actionUrl({query: queryp, page: pagep});
					}
					function getGraph(screenNamep){
						
						var actionUrl = #{jsAction @user(':screenName') /};
						return actionUrl({screenName: screenNamep});
					}
		
					</script>	

<div class="navbar">
	<div class="navbar-inner">

		<ul class="nav" id="topNav">

		</ul>
		<div class="navbar-search pull-center" style="margin-left: 40%;">
			<form action="@{Application.user()}" style="margin-bottom:0" method="GET">
				<div class="input-append">
				
					<input id="graphSearchId" type="text" class="search-query" placeholder="Search" name="screenName"/>
										 
					<span class="add-on"><i class="icon-search"> </i> </span>
					
					
				</div>
				<div class="pull-right" >
					<img id="autocompleteSpinnerId" height="20px" width="20px" src="https://si0.twimg.com/a/1359060104/images/bigger_spinner.gif" style="display:none;"/>
		
				</div>			
			</form>
		</div>
		<div class="pull-center">
			
		</div>
		<div class="pull-right"  style="margin-top: 14px;">
			<div id="slider" style="padding-left:23px;width: 200px; height: 10px">
			
			</div>
		</div>
		<div class="pull-right"  style="margin-top: 8px;margin-left: 10px">
			<img id="spinnerId" height="20px" width="20px" src="https://si0.twimg.com/a/1359060104/images/bigger_spinner.gif" style="display:none;"/>
		</div>
		<div class="pull-right"  style="margin-top: 8px;">
			<div id="progressbar" style="width: 400px; height: 20px">
			
			</div>
			
		</div>
	</div>
</div>
<!-- <a href="@{Application.index()}"> -->
<!-- 	<img src = "/public/images/logo_bird.png" style="position:absolute;height:150px;right:0;top:-25px"> -->
<!-- </a> -->
