#{extends 'main.html' /}
#{set title:'Twitter Social Graph' /}

#{list users, as:'user'}
        <div class="userWindow" onclick="window.location='/user?screenName=${user.screenName}'"
            style='cursor: pointer;'>
            <a href="/user?screenName=${user.screenName}">
            	${user.screenName}: ${user.friendsCount}, ${user.followersCount}
            </a>
            
        </div>
      
#{/list}
   
<!-- <script> 
 	$("ul#topNav li:nth-child(1)").addClass('active');
 </script> -->
<!--     <div id="progressbar-message"></div> -->
<!--    <div style="width:998px" id="progressbar"></div> -->

<!-- #{masonary /} -->
