#{extends 'main.html' /}
#{set title:'Twitter Social Graph' /}

<script src="@{'/public/javascripts/jquery.imagesloaded.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    
     <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://mbostock.github.com/d3/talk/20111018/d3/d3.geom.js"></script>
    
<!--     <script type="text/javascript" src="@{'/public/javascripts/debatree.js'}"></script> -->
    <script type="text/javascript" src="@{'/public/javascripts/twitterclient.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/graph.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/util.js'}"></script>

<script>
	$("ul#topNav li:nth-child(1)").addClass('active');
</script>
<div id="screen" style="width:100%; height:625px"></div>
    <br>
<!--     <div id="progressbar-message"></div> -->
<!--    <div style="width:998px" id="progressbar"></div> -->

    
#{getUserGraph /}
<!-- #{masonary /} -->
