<!DOCTYPE html>

<html>
<head>
<title>#{get 'title' /}</title>
<meta charset="${_response_encoding}">
<link href='http://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/bootstrap.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/main.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/graphstyle.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/error.css'}">

<!-- <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" /> -->
<link rel="stylesheet" href="@{'/public/stylesheets/jquery-ui-custom/jquery-ui-custom.css'}">
#{get 'moreStyles' /}
<link rel="shortcut icon" type="image/png"
	href="@{'/public/images/favicon.png'}">
	
	 <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>    
     <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://mbostock.github.com/d3/talk/20111018/d3/d3.geom.js"></script>
    <script type="text/javascript" src="@{'/public/javascripts/class.js'}"></script>
   <script type="text/javascript" src="@{'/public/javascripts/graphdatamgr.js'}"></script>
   <script type="text/javascript" src="@{'/public/javascripts/nodeMgr.js'}"></script>
   <script type="text/javascript" src="@{'/public/javascripts/linkMgr.js'}"></script>
   <script type="text/javascript" src="@{'/public/javascripts/infoWinMgr.js'}"></script>
     <script type="text/javascript" src="@{'/public/javascripts/graph.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/getusergraph.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/util.js'}"></script>
    
	
<script src="@{'/public/javascripts/bootstrap.min.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/template.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/tcommerce.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
#{get 'moreScripts' /}
</head>
<body background="@{'/public/images/paper-black.jpg'}">

	<div class="container-fluid" style="height:100%">
	
		#{navbar/}
		<div class="row-fluid" style="height:100%">
<!-- 			<div class="span1"> -->
<!-- 				Sidebar content -->
<!-- 			</div> -->
<!-- 			<div> -->
			#{doLayout user:user/}
			
<!-- 			</div> -->
<!-- 			<div class="span1"> -->
<!--                 Sidebar content -->
<!--             </div> -->
		</div>
	</div>
<!--     #{addProduct user:user/}  -->
</body>
</html>
